/* .container {
    border: 1px solid black;
    height: 600px;
    width: 600px;
}

.box {
    background-color: olive;
    width: 50%;
    height: 50%;
}

p {
    font-size: 40px;
    line-height: 200px;
} */

/* 
.pixels h1 {
    font-size: 96px;
}

.pixels h2 {
    font-size: 64px;
}

.pixels p {
    font-size: 32px;
} */


/* .container {
    font-size: 30px;
}

h1 {
    font-size: 4em;
    margin: 0;
    margin-left: 1.5em;
}

p {
    font-size: 2em;
}

.small {
    font-size: 0.7em;
} */

/* 
body {
    margin: 0;
}

.container {
    background-color: magenta;
    width: 100vw;
    height: 100vh;
}


.container2 {
    background-color: cyan;
    width: 100vw;
    height: 100vh;
} */


/* .container p {
    width: 800px;
}

.container2 p {
    width: 50%;
} */